<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Estoque</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
</head>
<body>

	<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<div class="row">
			<h1 class="col-8">Editar mesa:</h1>
			<div class="dropdown mb-4 mt-2 col-4"></div>
		</div>

		<form action="/administracao/mesas/edita" method="POST">
			<div class="row">
				<div class="mb-3 col-12">
					<label for="numeroDaMesa" class="form-label">Número da mesa</label> <input
						type="number" class="form-control" id="numeroDaMesa" name="numeroDaMesa"
						th:value="${mesa.numeroDaMesa}" aria-describedby="numeroDaMesa">
				</div>
				<div class="mb-3 col-8">
					<label for="nDeCadeiras" class="form-label">Cadeiras</label> <input
						type="number" class="form-control" id="nDeCadeiras"
						name="nDeCadeiras" th:value="${mesa.nDeCadeiras}"
						aria-describedby="nDeCadeiras">
				</div>
				<div class="mb-3 col-4">
				<label for="setor" class="form-label">Setor</label>
					<select class="form-select" id="setor" th:name="setor" aria-label="setor">
						<option th:value="A" th:selected="${mesa.setor.name() == 'A'}">A</option>
						<option th:value="B" th:selected="${mesa.setor.name() == 'B'}">B</option>
						<option th:value="C" th:selected="${mesa.setor.name() == 'C'}">C</option>
						<option th:value="D" th:selected="${mesa.setor.name() == 'D'}">D</option>
						<option th:value="E" th:selected="${mesa.setor.name() == 'E'}">E</option>
						<option th:value="F" th:selected="${mesa.setor.name() == 'F'}">F</option>
					</select>
				</div>
				<input type="hidden" id="id" name="id" th:value="${mesa.id}">
				<button type="submit" class="btn btn-primary">Editar</button>
			</div>
		</form>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>