<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Caixa')}"></head>
<body>

	<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<h1 class="col-8">Atendimento finalizado:</h1>


		<div class="row">
			<div class="col-md-4" th:each="mesa : ${mesas}">
				<div class="d-grid gap-2">
					<a class="btn btn-primary mb-3" data-bs-toggle="collapse"
						th:href="'#collapse'+${mesa.id}" role="button"
						aria-expanded="false" aria-controls="collapse"> Mesa nº <span
						th:text="${mesa.numeroDaMesa}">#</span><span
						th:text="${mesa.setor}">#</span>
					</a>
				</div>
				<div class="collapse" th:id="'collapse'+${mesa.id}">
					<div class="card-body">
						<h5 class="card-title"
							th:text="${mesa.clienteOcupante} != null? ${mesa.clienteOcupante.nome} : 'Cliente'">Cliente</h5>

						<p class="card-text">Hora de chegada: <span th:text="${mesa.chegada}"></span></p>
						<p class="card-text" >Total: R$ <span th:text="${mesa.totalDaConta}"></span></p>
						<a th:href="@{/caixa/imprimeconta(id=${mesa.id})}" target="_blank"
							class="btn btn-outline-primary">Imprimir a conta</a> <a
							th:href="@{/caixa/disponibilizamesa(id=${mesa.id})}"
							class="btn btn-outline-primary">Disponibilizar mesa</a>

						<ul class="list-group list-group-flush mt-2">
							<div th:each="pedido : ${mesa.pedidos}">
								<li class="list-group-item" style="font-weight: bold;">Pedido
									nº <span th:text="${pedido} != null ? ${pedido.id} : '' ">#</span>
								</li>
								<li class="list-group-item">Estado: <span
									th:text="${pedido.situacao}">SITUACAO</span>
								</li>
								<li class="list-group-item mb-3">Itens:
									<ul class="list-group list-group-flush">
										<div th:each="item : ${pedido.alimentos}">
											<li class="list-group-item">R$ <span th:text="${item.valor}">#</span> - <span th:text="${item.nome}">nome</span></li>
										</div>
										<li class="list-group-item">SUBTOTAL: R$<span th:text="${pedido.totalDoPedido}">SUBTOTAL</span></li>
									</ul>
								</li>
							</div>

						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>