<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Recepção')}"></head>
<body>

	<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<div class="row">
			<div class="col-9">
				<h1>Escolha uma mesa:</h1>
				<div class="row">
					<div th:each="mesa : ${mesas}" class="col-lg-3 col-md-4">
						<div th:if="not ${mesa.ocupada}">
							<div class="card border-primary mb-3" style="max-width: 18rem;">
								<div class="card-header">
									Mesa nº <span th:text="${mesa.numeroDaMesa}">#</span><span
										th:text="${mesa.setor}">#</span>
								</div>
								<div class="card-body">
									<h5 class="card-title text-primary">Livre</h5>
									<p class="card-text">
										Lugares: <span th:text="${mesa.nDeCadeiras}">#</span>
									</p>
									<div class="btn-group" role="group" aria-label="grupodeinformacoessobreamesa">
										<div th:if="not ${#lists.isEmpty(esperas)}">
											<div class="btn-group">
												<button class="btn btn-secondary dropdown-toggle"
													type="button" data-bs-toggle="dropdown"
													aria-expanded="false">Cliente</button>
												<ul class="dropdown-menu">
													<div th:each="cliente : ${esperas}">
														<li
															class="list-group-item d-flex justify-content-between align-items-center">
															<div class="ms-2 me-auto">
																<a class="dropdown-item"
																	th:href="@{/recepcao/ocupa(mesaid=${mesa.id}, clienteid=${cliente.id})}"><div
																		class="fw-bold" th:text="${cliente.cliente.nome}">Nome</div>
																</a>

															</div>
														</li>
													</div>
												</ul>
											</div>
										</div>
										<a th:href="@{/recepcao/ocupar(id=${mesa.id})}"
											class="btn btn-primary">Ocupar</a>
									</div>

								</div>
							</div>
						</div>
						<div th:if="${mesa.ocupada}">
							<div class="card border-warning mb-3" style="max-width: 18rem;">
								<div class="card-header">
									Mesa nº <span th:text="${mesa.numeroDaMesa}">#</span><span
										th:text="${mesa.setor}">#</span>
								</div>
								<div class="card-body text-warning">
									<h5 class="card-title text-warning">Ocupada</h5>
									<p class="card-text">
										Lugares: <span th:text="${mesa.nDeCadeiras}">#</span>
									</p>
									<div class="btn-group" role="group" aria-label="grupodeinformacoessobreamesa">
										<a th:href="@{/recepcao/ocupar(id=${mesa.id})}"
											class="btn btn-warning">Liberar</a>
										<button th:if="${mesa.fechada}" type="button"
											class="btn btn-warning" disabled>Fechada</button>
										<button th:if="not ${mesa.fechada}" type="button"
											class="btn btn-danger" disabled>Aberta</button>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-header">Lista de espera</div>

					<form class="mb-4 me-2 ms-2" action="/recepcao/adicionar"
						method="POST">
						<div class="mb-3">
							<label for="nome" class="form-label">Nome</label> <input
								type="text" class="form-control" id="nome" name="nome"
								aria-describedby="nome" required="required">
						</div>
						<div class="mb-3">
							<label for="telefone" class="form-label">Telefone</label> <input
								type="number" class="form-control" id="telefone" name="telefone"
								required="required">
						</div>
						<div class="mb-3">
							<label for="quantidade" class="form-label">Quantidade</label> <input
								type="number" class="form-control" id="quantidade"
								name="quantidade" required="required">
						</div>
						<div class="d-md-flex justify-content-md-end">
							<button type="submit" class="btn btn-primary me-4">Adicionar</button>
						</div>

					</form>

					<ul class="list-group list-group-flush">
						<div th:each="cliente : ${esperas}">
							<li
								class="list-group-item d-flex justify-content-between align-items-center">
								<div class="ms-2 me-auto">
									<a th:href="@{/recepcao/remover(id=${cliente.id})}"><div
											class="fw-bold" th:text="${cliente.cliente.nome}">Nome</div></a>
									<span th:text="${cliente.cliente.telefone}"> Telefone </span>

								</div> <span class="badge bg-primary rounded-pill"
								th:text="${cliente.cliente.quantidade}">#</span>
							</li>
						</div>


					</ul>


				</div>
			</div>
		</div>


		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
			crossorigin="anonymous"></script>
</body>
</html>