<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Administração')}"></head>
<body>
	<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<div class="row">
			<h1 class="col-8">Cadastros administrativos:</h1>

			<div class="mb-4 mt-2 col-4 d-grid">
				<a href="/administracao/fecharestaurante"
					class="btn btn-outline-primary me-md-2" type="button">Fechar
					restaurante</a>
			</div>
		</div>

		<div th:replace="~{base :: menuAdm('')}"></div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>