<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Estoque</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
</head>
<body>

	<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<div class="row">
			<h1 class="col-8">Controle do estoque:</h1>
			<div class="dropdown mb-4 mt-2 col-4"></div>
		</div>

		<div class="row">
			<div class="mb-4 mt-2 col-4 d-grid">
				<a href="/estoque"
					class="btn btn-outline-primary me-md-2" type="button">Voltar</a>
			</div>
		</div>
		<form action="/estoque/edita" method="POST">
			<div class="row">
				<div class="form-floating mb-3 col-12 col-md-6">
					<input type="text" class="form-control" id="nome" name="nome"
						th:value="${produto.nome}" aria-describedby="nome"
						required="required"> <label for="nome" class="ms-2">Nome</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<input type="text" class="form-control" id="fabricante"
						name="fabricante" th:value="${produto.fabricante}"
						aria-describedby="fabricante" required="required"> <label
						class="ms-2" for="marca">Fabricante</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<input type="number" step=".01" class="form-control"
						id="quantidade" name="quantidade" th:value="${produto.quantidade}"
						aria-describedby="quantidade" required="required"> <label
						for="quantidade" class="ms-2">Quantidade</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<select class="form-select" id="medida" th:name="medida"
						aria-label="Medida" required="required">
						<option th:value="UND"
							th:selected="${produto.medida.name() == 'UND'}">Unidades</option>
						<option th:value="KG"
							th:selected="${produto.medida.name() == 'KG'}">Quilogramas</option>
						<option th:value="G" th:selected="${produto.medida.name() == 'G'}">Gramas</option>
						<option th:value="L" th:selected="${produto.medida.name() == 'L'}">Litros</option>
						<option th:value="ML"
							th:selected="${produto.medida.name() == 'ML'}">Mililitros</option>
					</select> <label for="medida" class="ms-2">Medida</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<input type="text" class="form-control" id="temperatura"
						name="temperatura" th:value="${produto.temperatura}"
						aria-describedby="temperatura" required="required"><label
						class="ms-2" for="quantidade">Temperatura</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<input type="date" class="form-control" id="validade"
						name="validade" th:value="${produto.validade}"
						aria-describedby="validade" required="required"> <label
						for="validade" class="ms-2">Validade</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<select class="form-select" name="fornecedor"
						aria-label="fornecedor" required="required">
						<option value="NAO_DECLARADO" selected></option>
						<option th:each="fornecedor : ${fornecedores}"
							th:text="${fornecedor.nome}" th:value="${fornecedor.id}"
							th:selected="${fornecedor.nome == produto.fornecedor.nome}">Nome</option>
					</select> <label class="ms-2" for="fornecedor">Fornecedor</label>
				</div>
				<div class="form-floating mb-3 col-12 col-md-6">
					<select class="form-select" name="tipo" aria-label="tipo"
						required="required">
						<option value="CONSUMO"
							th:selected="${produto.tipo.name() == 'CONSUMO'}">Pronto
							para consumo</option>
						<option value="MATERIA_PRIMA"
							th:selected="${produto.tipo.name() == 'MATERIA_PRIMA'}">Materia
							Prima</option>
						<option value="OUTROS"
							th:selected="${produto.tipo.name() == 'OUTROS'}">Outros</option>
					</select> <label class="ms-2" for="tipo">Tipo de produto</label>
				</div>
				<input type="hidden" id="id" name="id" th:value="${produto.id}">
				<button type="submit" class="btn btn-primary">Editar</button>
			</div>
		</form>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>