<div th:fragment="menu">

	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Orla JK</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<div sec:authorize="hasAuthority('RECEPCAO')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/recepcao}">Recepção</a></li>
					</div>
					<div sec:authorize="hasAuthority('MESAS')">
						<li class="nav-item"><a class="nav-link" th:href="@{/mesas}">Mesas</a></li>
					</div>
					<div sec:authorize="hasAuthority('COZINHA')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/cozinha}">Cozinha</a></li>
					</div>
					<div sec:authorize="hasAuthority('CAIXA')">
						<li class="nav-item"><a class="nav-link" th:href="@{/caixa}">Caixa</a></li>
					</div>
					<div sec:authorize="hasAuthority('ESTOQUE')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/estoque}">Estoque</a></li>
					</div>
					<div sec:authorize="hasAuthority('ADMINISTRACAO')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/administracao}">Administracao</a></li>
					</div>
				</ul>

			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<form th:action="@{/logout}" method="post">
					<input type="submit" class="btn btn-outline-secondary"
						value="Sair do sistema"></input>
				</form>
			</div>
		</div>
	</nav>

</div>


<div th:fragment="menuAdm">

	<div class="btn-group" role="group" aria-label="Menu do administrativo">
		<a type="button" class="btn btn-outline-primary"
			href="/administracao/cardapio">Cardápio</a> <a type="button"
			class="btn btn-outline-primary" href="/administracao/mesas">Mesas</a>
		<a type="button" class="btn btn-outline-primary"
			href="/administracao/usuarios">Usuarios</a> <a type="button"
			class="btn btn-outline-primary" href="/administracao/registro">Registro</a>

	</div>

</div>