<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Início')}"></head>
<body>

	<div th:replace="~{base :: menu}"></div>

	<div class="container">



		<div class="position-absolute top-50 start-50 translate-middle">



			<div class="row">
				<div class="col-1"></div>
				<div class="col-6">
					<img src="/images/logo.png" class="card-img-top" alt="Logo"
						style="width: 150px">
				</div>
			</div>

			<div class="card mb-3">
				<h5 class="card-header">
					Seja bem vindo,<br> <span th:text="${usuario}">Bob</span>!
				</h5>
				<div class="card-body">
					<div class="btn-group-vertical btn-group-lg d-grid" role="group"
						aria-label="Menu principal">
						<a sec:authorize="hasAuthority('RECEPCAO')"
							class="btn btn-outline-primary" th:href="@{/recepcao}">Recepção</a>
						<a sec:authorize="hasAuthority('MESAS')"
							class="btn btn-outline-primary" th:href="@{/mesas}">Mesas</a> <a
							sec:authorize="hasAuthority('COZINHA')"
							class="btn btn-outline-primary" th:href="@{/cozinha}">Cozinha</a>
						<a sec:authorize="hasAuthority('CAIXA')"
							class="btn btn-outline-primary" th:href="@{/caixa}">Caixa</a> <a
							sec:authorize="hasAuthority('ESTOQUE')"
							class="btn btn-outline-primary" th:href="@{/estoque}">Estoque</a>
						<a sec:authorize="hasAuthority('ADMINISTRACAO')"
							class="btn btn-outline-primary" th:href="@{/administracao}">Administracao</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>
